.cbody1{
    margin: auto;
    width: 300px;
    height: auto;
    padding:1.25rem;
    background-color:#fff;
    background-clip:border-box;

}
.c1{
    align-content: center;
    display:-webkit-box;
    display:-ms-flexbox;display:flex;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
    -ms-flex-direction:column;
    flex-direction:column;
    min-width:0;
    word-wrap:break-word;
    background-color:#fff;
    background-clip:border-box;
    border:1px solid rgba(0,0,0,.125);
    border-radius:.25rem;

}

.btnbg{
    background-image: url(heartbtn1.jpg);
    background-size: cover;
    background-position: center;
}
.btntxt {
    color: black!important
}

.btn-primary
{

    align-content: center;
    width: 100px;
    height: auto;
    color:#fff;
    background-color:pink;
    border-color:pink
    !important
}

.btn-primary:hover
{color: bla;background-color:pink;border-color:pink!important}

.btn-primary.focus,.btn-primary:focus
{box-shadow:0 0 0 .2rem rgba(216,112,147)!important}

.btn-primary.disabled,.btn-primary:disabled
{
    color:#fff
    ;background-color:pink;
    border-color:pink!important}

.btn-primary:not(:disabled):not(.disabled).active,.btn-primary:not(:disabled):not(.disabled):active,.show>.btn-primary.dropdown-toggle
{
    color:#fff;
    background-color: pink;
    border-color: palevioletred!important}

.btn-primary:not(:disabled):not(.disabled).active:focus,.btn-primary:not(:disabled):not(.disabled):active:focus,.show>
.btn-primary.dropdown-toggle:focus
{
    box-shadow:0 0 0 .2rem rgba(216,112,147)!important}